{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider red">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Category Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{url_for('editCategoryItem', department_id = department_id, category_id=item.id)}}" method = 'POST'>
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
					</div>
					<label for="category">Category:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category1" value="Equipment" {% if item.category == 'Equipment'%}checked{%endif%}>Equipment
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category2" value="Apparel" {% if item.category == 'Apparel' %}checked{%endif%}>Apparel
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category3" value="Accessories" {% if item.category == 'Accessories'%}checked{%endif%}>Accessories
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category4" value="Clearance" {%if item.category =='Clearance'%}checked{%endif%}>Clearance
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showDepartments')}}'>
						<class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
